[build]
builder = "NIXPACKS"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[deploy.environmentVariables]]
name = "PYTHON_VERSION"
value = "3.12"

[build.nixpacksConfig]
nixpacksPlan = "python"
